body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 20px;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem; /**90px**100% = 16px = 1em***Angela's Preference is the rem*/
  margin: 50px auto 50px auto;
  color: #66bfbf;
  padding-bottom: 10px;
}
hr {
  border: dotted #eaf6f6 6px;
  width: 5%;
  border-bottom: none;
  margin: 100px auto;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}
.header {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
p {
  line-height: 2;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  top: 30px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.middle-container {
  padding: 100px 0;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
} /**
.skill-row img {
  width: 25%;
}**/
.cooking-img {
  width: 25%;
  float: left;
  margin: 30px;
}
.skills-img {
  width: 25%;
  float: right;
  margin: 30px;
}
/*
.code-skill-description {
  clear: left;
}
*/
.profile img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-top: 50px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.pro {
  text-decoration: underline;
}
.intro {
  width: 30%;
  margin: auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
